body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid white;
    padding: 20px;
    margin-top: 0;
}

.header {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px rgb(221, 226, 228);
    padding: 20px;
    margin-top: 0;
    background-color: rgb(244, 240, 240);
}

.logo {
    width: auto;
    max-width: 200px; /* Adjust the maximum width of the logo */
    height: auto;
}

.search-box {
    display: flex;
}

.search-box input[type="text"] {
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
}

.search-box button {
    padding: 10px;
    border-radius: 0 5px 5px 0;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
}

.device {
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}



footer {
    color: black;
    padding: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*font-family: 'Montserrat', sans-serif;  Change the font to Montserrat */
}

.header-right{
    display: flex;
    align-items: center;
}

.cart{
    margin-left: 20px;
    display: inline-flex;
    width: 45px;
    height: auto;
  
}

.login{
    width: 45px;
    height: auto;
}
