/* style.css */

body {
    margin: 0; /* Remove default margin for body element */
    padding: 0; /* Remove default padding for body element */
}
  
h1 {
    margin-top: 0; 
    margin-bottom: 0; /* Optional: Add some top margin for better spacing */
    border: 2px solid #333; /* Add a 2px solid border with a dark gray color */
    padding: 30px;  /* Add padding inside the border for better spacing */
    background-color: rgb(34, 162, 213); /* Set the background color to navy */
    color: white; /* Set the text color to white */
    border-color: rgb(34, 162, 213);
}

.container {
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid white; /* Adjust border properties */
    padding: 20px;
    margin-top: 0; /* Add this line */
}

.device {
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
}

footer {
    
    color: black;
    padding: 20px;
    text-align: center;
}
